{% extends 'base.html.twig' %}

{% block title %}About - DashBoard{% endblock %}

{% block body %}
    <div class="app-admin-wrap layout-sidebar-large clearfix">
        <!-- ============ Load The Header ============ --> 
        {% include('components/header.html.twig') %}
        <!-- ============ Load The Menu  ============ --> 
        {% include('components/menu.html.twig') %}
        <!-- ============ Body content start ============= -->

        <div class="main-content-wrap sidenav-open d-flex flex-column">

            This is The About Part.<br>
            {% for time in timer %}
                {{ time[0] }} => {{ time[1] }} <br>
            {% endfor %}

        </div>



     </div>

    <!-- ============ Search UI Start ============= -->
    {% include('components/search.ui.html.twig') %}

{% endblock %}
