<div class="main-content-wrap sidenav-open d-flex flex-column">

    <div class="breadcrumb">
        <h1 class="mr-2">{{ soft("name") }}</h1>
        <ul>
            <li><a href="{{ url("site") }}">Home</a></li>
            <li>{{ is_granted('ROLE_ADMIN')?"Admin":"Dashboard" }}</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include("components/dashboard/admin.html.twig") %}
    {% elseif is_granted('ROLE_USER') %}
        {% include("components/dashboard/dashboard.html.twig") %}
    {% elseif is_granted('ROLE_TEACHER') %}
        {% include("components/dashboard/teacher.html.twig") %}
    {% endif %}

</div>