{% extends 'base.html.twig' %}

{% block title %}{{ tr("Create Login Access") }}{% endblock %}

{% block body %}
    <div class="app-admin-wrap layout-sidebar-large clearfix">
        <!-- ============ Load The Header ============ -->
        {% include('components/header.html.twig') %}
        <!-- ============ Load The Menu  ============ -->
        {% include('components/menu.html.twig') %}
        <!-- ============ Body content start ============= -->
        {% include('components/students/createLoginAccess.html.twig') %}
    </div>

    <!-- ============ Search UI Start ============= -->
    {% include('components/search.ui.html.twig') %}

{% endblock %}
